/* #equals,
#plus,
#minus,
#plus-minus,
#point,
#multiply,
#divide,
#zero,
#one,
#two,
#three,
#four,
#five,
#six,
#seven,
#eight,
#nine,
#clear {
  width: 100%;
} */

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.width-90 {
  width: 90%;
}

/* .clear {
    width: 90%;
} */

/* #equals {
  height: 100%;
} */

#results-box {
    min-height: 96px;
}